<div class='country-info__wrap'>
  <img class='country-info__img' src='{{flags.svg}}' alt='country flag image' />
  <h1 class='country-info__header'>{{name.official}}</h1>
</div>

<ul class='country-info__list'>
  <li><span class='country-info__param'>Capital:</span>{{capital}}</li>
  <li><span class='country-info__param'>Population:</span>{{population}}</li>
  <li><span class='country-info__param'>Languages:</span>{{languagesList}}</li>
</ul>
